input
	font-weight 300
	border none
	border-left 1px solid grey
	border-bottom 2px solid grey
	margin-bottom 10px
	padding-left 10px
	padding-bottom 5px
	width 100%
	&:placeholder-shown
		padding-left 10px
		padding-bottom 5px
	&:first-of-type
		margin-top 10px
	&:focus
		outline none
		color steelblue
		font-weight 400
		border-left-color steelblue
		border-bottom-color steelblue
		z-index 1
		box-shadow 0 10px 10px -1px steelblue
		position relative
button
	width 300px
	height 40px
	margin 10px
	font-weight 300
	background none
	border 1px 1px 2px 2px solid grey
	&:focus
		outline none
		
.primary
	&:focus
		color blue
		font-weight 400
		border-color blue
		z-index 1
		box-shadow 0 10px 10px -5px blue
.danger
	&:focus
		color red
		font-weight 400
		border-color red
		z-index 1
		box-shadow 0 10px 10px -5px red