ul li
	list-style none
	& a
		text-decoration none
.nav-with-hover
	color lightgrey
	&:hover 
		color grey
.justified-center
	display flex
	justify-content center
	& ul
		display flex
		& a
			padding 1rem 2rem
.justified-full-width
	& ul
		display flex
		width 100%
		& li
			flex 1 1 100%
.footer-links
	& li
		& a
			font-size .9rem !important
			color blue
			margin 3px 5px