@import url('http://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700');
@require 'partials/reset.style-master/index.styl'

use_reset('meyer')

reset('all')
/*  Universal styles */
*
	font-size 1.2rem !important
	font-family 'Source Sans Pro' !important
	
/* Form Styles */

input
	font-size 1rem !important
	border none
	border-left 1px solid grey
	border-bottom 2px solid grey
	margin-bottom 10px
	padding-left 10px
	padding-bottom 5px
	width 100%
	&:placeholder-shown
		padding-left 10px
		padding-bottom 5px
	&:first-of-type
		margin-top 10px
	&:focus
		outline none
		color steelblue
		border-left-color steelblue
		border-bottom-color steelblue
		z-index 1
		box-shadow 0 10px 10px -1px steelblue
		position relative
/* basic styles */
div, article, section, aside
	padding 10px

.separator:after
		content ""
		display block
		height 2px
		width 50%
		margin 0 auto
		margin-top 25px 
		background-color grey

.container
	width 75%
	margin 0 auto

/* Navigation */

@require 'partials/navigation.styl'

/* Typography */

@require 'partials/typography.styl'
	
