@import url('http://fonts.googleapis.com/css?family=Montserrat')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700');
@require 'partials/reset.style-master/index.styl'

use_reset('meyer')

reset('all')
/*  Universal styles */
*
	font-size 1.2rem !important
	font-family 'Source Sans Pro' !important
*, *:before, *:after
	box-sizing border-box
	
/* basic styles */


.separator:after
		content ""
		display block
		height 2px
		width 50%
		margin 0 auto
		margin-top 25px 
		background-color grey

.container
	margin 0 auto
@media (min-width: 960px)
	.container
		width 70%
		max-width 1200px
.centered
	text-align center
.middle
	display flex
	align-items center
/* Grid Rules */

@require 'partials/grid.styl'

/* Navigation */

@require 'partials/navigation.styl'

/* Typography */

@require 'partials/typography.styl'

/* Froms */

@require 'partials/form.styl'
	
